# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/out/

# Eclipse / STS
*.classpath
*.project
*.settings/
.apt_generated
.springBeans
.factorypath
.sts4-cache/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db